In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C://Users/Nameetha/Desktop/DSP_Project/SalesForce_Contact/SalesForce_Contact.csv",encoding='latin', low_memory=False)

In [4]:
data=pd.read_csv("full_dataset.csv",encoding='latin', low_memory=False)

In [5]:
data.shape

(30754, 425)

In [20]:
list(data.head(0))

['Id_x',
 'AccountId',
 'RecordTypeId',
 'MailingState',
 'MailingPostalCode',
 'MailingCountry',
 'LeadSource',
 'OwnerId',
 'HasOptedOutOfEmail',
 'HasOptedOutOfFax',
 'DoNotCall',
 'CanAllowPortalSelfReg',
 'CreatedDate_x',
 'CreatedById_x',
 'LastModifiedDate_x',
 'LastModifiedById_x',
 'SystemModstamp_x',
 'LastActivityDate_x',
 'Previous_HH_Client__c',
 'Volunteer_Interests__c',
 'Tableau_Fix__c',
 'Multiple_AVR__c',
 'Vendor_Contact__c',
 'Do_Not_Mail_old__c',
 'Gender__c',
 'Race__c',
 'Number_of_dependents__c',
 'Employment_Barriers__c',
 'Interview_Skills__c',
 'Veteran_agreed_to_terms_at_Registration__c',
 'Start_Date__c_x',
 'Volunteer_Agreement_on_File__c',
 'Additional_Service_Needs__c',
 'Previously_Interviewed__c',
 'Referral_Date__c',
 'Date_of_Service_Entry__c',
 'Last_Rank__c',
 'Unsubscribe__c',
 'O2O_Status__c',
 'O2O_Partners_Previously_Applied_To__c',
 'Active__c',
 'X3_Month_Survey_Date__c',
 'Mileage_Willing_To_Commute__c',
 'Alumni_Survey_Completed__c',
 'Send_Retention_Survey__c',
 'Referred_To__c',
 'X6_Month_Survey_Date__c',
 'Security_Clearance_Description__c',
 'Temporarily_Unavailable__c',
 'Highest_Level_of_Education_Completed__c',
 'OIF_OEF_Deployed__c',
 'Status__c',
 'Reasons_For_Additional_Service__c',
 'CRF_Impact__c',
 'DD214__c',
 'Purple_Heart_Recipient__c',
 'Active_Color__c',
 'Job_Function_Hired_In__c_x',
 'Desired_Job_Function__c',
 'Possible_Job_Matches__c',
 'Date_Assigned_To_Online__c',
 'Military_Occupation__c',
 'Submitted_for_Mentor__c',
 'VTS_Recommended_Seniority_Level__c',
 'Assessment_Completed_By__c',
 'Resume_Completed_By__c',
 'contact_history__c',
 'Independence_Project_Group__c',
 'Dat_Initial_Assessment_was_Completed__c',
 'Do_Not_Notify_Client__c',
 'Hire_Funding_Source__c',
 'Company_Name__c',
 'Primary_Military_Occupational_Specialty__c',
 'IVMF_Service_Branch__c',
 'stayclassy__date_of_last_donation__c',
 'Donation_Amount__c',
 'Donor_Status__c',
 'stayclassy__opt_in__c',
 'MyTrak_Goal_Job_Industry__c',
 'stayclassy__sc_total_donated__c',
 'Payment_Type_for_Donation__c',
 'Months_Unemployed__c_x',
 'What_volunteer_experience_have_they_had__c',
 'Payment_Received__c',
 'Anonymous_Donor__c',
 'stayclassy__sc_total_donations__c',
 'Online_Training_Participant__c',
 'Date_Assigned_To_HHUSA__c',
 'Expected_Separation_Date__c',
 'Date_Vet_was_recommended_to_portal__c',
 'Date_Vet_was_removed_from_portal__c',
 'Act_On_Behavior_Score__c',
 'Responsive__c',
 'Interested_In_Volunteer_Opportunities__c',
 'O2O_Hire__c',
 'Donor__c',
 'How_they_want_to_volunteer_picklist__c',
 'Awards_and_Decorations_Earned__c',
 'Volunteer__c',
 'Client__c',
 'Disability_Rating__c',
 'Business_Contact__c',
 'Client_Type__c',
 'priority_veteran__c',
 'O2O_Program_Participant__c',
 'VCTP_Participant__c',
 'Available_For_Urgents__c',
 'Service_Branch__c',
 'O2O_Coordinator__c',
 'Contact_Type__c',
 'Pledged_Amount_per_hole_played__c',
 'Special_Event__c',
 'Wish_to_become_Corporate_Sponsor__c',
 'Interested_In_Online_Employer_Training__c',
 'X1_Year_Survey_Date__c',
 'X2_Year_Survey_Date__c',
 'X3_Year_Survey_Date__c',
 'Last_Correspondence_Type__c',
 'Last_Discussion_Topic__c',
 'Do_Not_Use__c',
 'Funder__c',
 'Volunteer_Owner__c',
 'Service_Members_Status__c',
 'Newsletter_Subscriber__c',
 'O2O_Hire_Date__c',
 'Exclude_From_Alumni_Survey__c',
 'Upskilled__c',
 'O2O_Upskilled_Date__c',
 'Times_Hired__c',
 'Match_Eligible_Date__c',
 'Online_Training_Participant_Date__c',
 'AVR__c',
 'Multiple_Hire_Review_Complete__c',
 'Concentration__c',
 'Date_of_Volunteer_Application__c',
 'Federal_Hire__c_x',
 'Date_IP_Survey_Sent__c',
 'O2O_Unresponsive_Date__c',
 'Hired_with_EO_assistance__c',
 'Hire_Records__c',
 'Litmos_Provisioned_Date__c',
 'Virtual_Services_Specialist__c',
 'HHELP_Status__c',
 'Additional_Registration_Interest__c',
 'Volunteer_Inactive_Reason__c',
 'External_Profile_Id__c',
 'VTS_Ready_Date__c',
 'Federal_Program_Participant__c',
 'Exclude_From_Retention_Survey__c',
 'IP_Consent__c',
 'Employer_Account_Specialist_Notes__c',
 'On_Job_Board__c',
 'Program_Enrollments__c',
 'Client_Transfer_Date__c',
 'IVMF_Employment_Outcome_Type__c',
 'EventbriteSync__EventbriteId__c',
 'EventbriteSync__EventbriteType__c',
 'Alumni__c',
 'Ambassadorship_Level__c',
 'Event_Information__c',
 'Applied_to_hired_position_on_Job_Board__c',
 'Updated_Resume_Complete__c',
 'Date_Updated_Resume_Complete__c',
 'Updated_Resume_Completed_By__c',
 'Earliest_Availability__c',
 'Federal_Program_Participant_Date__c',
 'About_Me_Completion_Date__c',
 'Get_Start_Date__c',
 'HHUSA_Workshop_Participant__c',
 'O2O_Initial_Assessment_Complete__c',
 'Date_Attended_HHUSA_Workshop__c',
 'Location_of_Vet_When_Trained__c',
 'O2O_Initial_Assessment_Date__c',
 'IVMF_Position_Hired_For__c',
 'Hiring_Account__c_x',
 'Litmos__Access_Level__c',
 'Litmos__Completed_Percentage__c',
 'Willing_to_relo_with_no_assistance__c',
 'Litmos__Courses_Assigned__c',
 'Litmos__Courses_Completed__c',
 'Litmos__Deactivate_From_Litmos__c',
 'Litmos__Languages__c',
 'Litmos__Level__c',
 'Service_Rank__c',
 'Date_of_Separation__c',
 'My_Goals_Completion_Date__c',
 'Litmos__LitmosID__c',
 'Litmos__Litmos_Activated__c',
 'Staff_member_assigned_to_be_mentor__c',
 'Created_LinkedIn_account__c',
 'Date_assigned_to_staff__c',
 'Litmos__Litmos_UserId__c',
 'Litmos__OriginalId__c',
 'Litmos__Sync_Litmos__c',
 'Date_Turned_Purple__c',
 'Languages_Spoken__c',
 'Litmos__User_Id__c',
 'CODE_Release_on_File__c',
 'Email_Verified_Date__c',
 'MyTrak_1_on_1_Career_Coaching_Request__c',
 'MyTrak_1_on_1_Request_Date__c',
 'MyTrak_Be_a_Desirable_Candidate_Complete__c',
 'MyTrak_Employed_outside_military__c',
 'MyTrak_Essentials_Complete__c',
 'MyTrak_Fed_Resume_Review_Request_Date__c',
 'MyTrak_Federal_Resume_Review__c',
 'MyTrak_Is_MyTrak_Registrant__c',
 'MyTrak_Mock_Interview_Request__c',
 'MyTrak_Mock_Inteview_Request_Date__c',
 'MyTrak_Prepare_for_interview_Complete__c',
 'MyTrak_Request_a_Service_Complete__c',
 'MyTrak_Rethink_Social_Presence_Complete__c',
 'MyTrak_Save_and_Exit__c',
 'MyTrak_Self_Portrait_Complete__c',
 'MyTrak_Share_your_Experience_Complete__c',
 'MyTrak_Spouse_is_Employed__c',
 'MyTrak_VTS_Assigned__c',
 'Self_Registration_Delete__c',
 'Self_Registration_RefId__c',
 'Self_Registration_SessionId__c',
 'Self_Registration_Source__c',
 'Self_Registration_Step__c',
 'MyTrak_Essentials_Completed_Date__c',
 'MyTrak_About_Me__c',
 'MyTrak_Military_Experience__c',
 'MyTrak_My_Goals__c',
 'MyTrak_Past_Jobs__c',
 'MyTrak_Manually_Enabled_Date__c',
 'MyTrak_Manually_Enabled__c',
 'MyTrak_Send_Manual_Email__c',
 'MyTrak_Total_Questions_Answered__c',
 'Manager_Concurs__c',
 'Job_Board_Access__c',
 'O2O_Multiple_Hire_Date__c',
 'Targeted_Services__c',
 'Donor_Type__c',
 'Photo_on_File__c',
 'Tax_Communication_Preference__c',
 'Donor_Tracking_Color__c',
 'Date_Resume_Completed__c',
 'Add_l_Military_Service_Notes__c',
 'Earliest_Employment_Start_Date__c',
 'Desired_City_of_Employment__c',
 'Desired_State_of_Employment__c',
 'Salary_Expectations__c',
 'Specific_Industries_Jobs__c',
 'Is_the_Initial_Intake_Assessment_done__c',
 'Other_Workshop_Notes__c',
 'Confirmed_Hired_Date__c_x',
 'Position_Hired_For__c_x',
 'Client_Currently_Overseas__c',
 'Revised_Resume_Used_to_Apply_for_Job__c_x',
 'ringdna100__Call_Attempts__c',
 'Job_Type__c',
 'Original_Resume_on_File__c',
 'Education_Summary__c',
 'Hired_Section_Notes__c',
 'Hired_but_still_active_and_looking__c_x',
 'ringdna100__Email_Attempts__c',
 'Career_Opportunity_Day_Participant__c',
 'Location_of_Career_Opportunity_Day__c',
 'Date_of_Career_Opportunity_Day__c',
 'ringdna100__First_Inbound_Call__c',
 'ringdna100__First_Outbound_Call__c',
 'Date_turned_grey__c',
 'Date_turned_green__c',
 'Date_of_first_contact__c',
 'Summary_of_Qualifications__c',
 'Areas_of_Experience__c',
 'Preferred_Method_of_Contact__c',
 'Military_Training_Courses_Attended__c',
 'How_the_veteran_heard_about_us__c',
 'Permission_to_use_job_board_granted__c',
 'Additional_Referred_By__c',
 'ringdna100__Last_Email_Attempt__c',
 'ringdna100__Last_Inbound_Call__c',
 'Success_Story_on_file__c',
 'Is_vet_willing_to_go_on_camera__c',
 'ringdna100__Last_Outbound_Call__c',
 'ringdna100__Response_Type__c',
 'Current_Volunteer__c',
 'ringdna100__Time_to_First_Dial_Minutes__c',
 'ringdna100__Time_to_First_Response__c',
 'VCF_Participant__c',
 'Recurring_Donor__c',
 'Recurring_Donor_Frequency__c',
 'Virtual_Workshop_Participant__c',
 'Webinar_Participant__c',
 'Grey_Black_Justification__c',
 'GW_Volunteers__Volunteer_Auto_Reminder_Email_Opt_Out__c',
 'No_match_found__c',
 'Jobs_applied_to_on_HHUSA_job_board__c',
 'Resume_Tailoring_Tips__c',
 'OTYC_Start_Date__c',
 'VCTP_Start_Date__c',
 'Additional_Referred_By_Date__c',
 'Willing_to_complete_success_story__c',
 'Coded_Black_Reviewer_Comments__c',
 'HHUSA_Corporate_Partner__c',
 'Date_Of_Birth__c',
 'Automated_Success_Story_Completed__c',
 'If_Security_Clearance_Yes_What_kind__c',
 'Disability_percentage_60_or_above__c',
 'Job_Seeker_Last_Activity_Date__c',
 'Volunteer_Keywords__c',
 'Industry_hired_in__c',
 'Litmos_Deactivated__c',
 'Salary_Range__c_x',
 'Internship__c_x',
 'Paid_Internship__c',
 'Hired_Location__c_x',
 'Date_Turned_Blue__c',
 'Foreign_Service__c',
 'If_served_overseas_locations_of_service__c',
 'Foreign_Service_Summary__c',
 'Workshop_Staff_Members__c',
 'Reason_Vet_Turned_Grey__c',
 'Volunteer_Services__c',
 'Other_Volunteer_Services__c',
 'Workshop_Type__c',
 'Military_Spouse_Caregiver__c',
 'Volunteer_is_a_Veteran__c',
 'Military_Branch__c',
 'Multiple_HHUSA_Hire__c',
 'Historical_hire_summary__c',
 'Employment_Type__c_x',
 'Desired_Geographic_Region_of_Employment__c',
 'Desired_State_s_of_Employment__c',
 'Proof_of_Service_Type__c',
 'Published_on_details__c',
 'Date_of_Service_EntryNew__c',
 'Date_of_SeparationNew__c',
 'Referred_by__c',
 'Reserves_National_Guard__c',
 'Submitted_for_Hire__c',
 'Office_Manager_Approved__c',
 'Regional_Manager_Approved__c',
 'Hire_Heroes_USA_Confirmed_Hire__c',
 'Date_Submitted_for_Hire__c',
 'Approval_Notes__c',
 'Workshop_Sponsor__c',
 'VP_Dash_Date__c',
 'Hired_ZIP_Code__c',
 'Do_Not_Text__c',
 'Volunteer_Jobs_Availability__c',
 'Date_of_Volunteer_Orientation__c',
 'Enrolled_in_School__c',
 'Expected_Graduation_Date__c',
 'Funding_Source__c',
 'Agrees_to_be_Recognized_on_Website__c',
 'Preferred_Contact_Time_Start__c',
 'Preferred_Contact_Time_End__c',
 'Desired_Industry_for_Employment__c',
 'Finalized_HHUSA_revised_resume_on_file__c',
 'Value_Proposition__c',
 'Documents_Received__c',
 'Date_Documents_Received__c',
 'Previous_Confirmed_Hire_Date__c',
 'Selected_by_M_D_for_Success_Story__c',
 'Date_published__c',
 'Type_of_Success_Story__c',
 'Selected_by__c',
 'Success_Story_published_on__c',
 'Success_Story_Notes__c',
 'Bilingual__c',
 'Willing_to_Relocate__c',
 'Min_Salary_Expectations__c',
 'Used_Volunteer_Services__c',
 'Desired_Earnings_Type__c',
 'Used_Federal_Services__c',
 'Program_Location__c',
 'O2O_Cohort_Id__c',
 'Orientation_Date__c',
 'O2O_Career_Track__c',
 'O2O_Training_Track__c',
 'Online_Training_Track__c',
 'Hired_By_Partnered_Employer__c',
 'Scheduled_Interview_Date__c',
 'Matched_Partner_Employer__c',
 'For_Workflow_Update__c',
 'Orientation_Completed_By__c',
 'Send_Green_Survey__c',
 'Professional_Certification__c',
 'TS_Referral_Requested_By__c',
 'RealZip__RealZip__c',
 'Discharge_Type__c',
 'Discharge_Disposition__c',
 'Date_Turned_Black__c',
 'Litmos__Litmos_Login_Access__c',
 'Litmos__Total_Sum_Percentages__c',
 'Willing_to_Relocate_to_High_Risk_Area__c',
 'Id_y',
 'IsDeleted',
 'Name',
 'CreatedDate_y',
 'CreatedById_y',
 'LastModifiedDate_y',
 'LastModifiedById_y',
 'SystemModstamp_y',
 'LastActivityDate_y',
 'Confirmed_Hired_Date__c_y',
 'Start_Date__c_y',
 'Hiring_Account__c_y',
 'Client_Name__c',
 'Hiring_Company_Name__c',
 'Position_Hired_For__c_y',
 'Job_Function_Hired_In__c_y',
 'Industry_Hired_In__c',
 'Hired_Location__c_y',
 'Hired_Zip_Code__c',
 'Salary_Range__c_y',
 'Employment_Type__c_y',
 'Federal_Hire__c_y',
 'Internship__c_y',
 'Hired_With_EO_Assistance__c',
 'X7_Day_Review__c',
 'Months_Unemployed__c_y',
 'Revised_Resume_Used_to_Apply_for_Job__c_y',
 'Hired_but_still_active_and_looking__c_y',
 'Date_Submitted_For_Hire__c',
 'Hire_Confirmed_By__c',
 'Area_Manager_Approved__c',
 'PIM_Approved__c',
 'Ops_Review_Date__c',
 'Multiple_Hire__c']

In [ ]:
Initial Assessment Complete--done
Initial HHUSA Resume Complete--done
Resume Tailoring Tips--done
Value Proposition--done
Interview Skills--done
LinkedIn Revision (Created LinkedIn)--done
On Job Board--done
Virtual Workshop Participant--done
VCF Participant--done
Virtual Workshop Participant--done+
Used Volunteer Services--done
Used Federal Services--done
Call Attempts
Email Attempts
Revised Resume used to apply for a job--done

In [250]:
confirmed_hire=data.loc[data["Hire_Heroes_USA_Confirmed_Hire__c"]==1]

In [251]:
confirmed_hire.shape

(30557, 425)

In [252]:
not_confirmed_hire=data.loc[data["Hire_Heroes_USA_Confirmed_Hire__c"]==0]

In [253]:
not_confirmed_hire.shape

(197, 425)

In [254]:
action_list=["Purple_Heart_Recipient__c","Active_Color__c","Assessment_Completed_By__c","Resume_Completed_By__c","Dat_Initial_Assessment_was_Completed__c","Online_Training_Participant_Date__c","Virtual_Workshop_Participant__c","On_Job_Board__c","Federal_Hire__c_x","Created_LinkedIn_account__c",
             "Hired_with_EO_assistance__c","Updated_Resume_Complete__c","HHUSA_Workshop_Participant__c","O2O_Initial_Assessment_Complete__c","MyTrak_1_on_1_Career_Coaching_Request__c","MyTrak_Be_a_Desirable_Candidate_Complete__c",
           "MyTrak_Essentials_Complete__c","MyTrak_Federal_Resume_Review__c","MyTrak_Is_MyTrak_Registrant__c","MyTrak_Mock_Interview_Request__c","MyTrak_Prepare_for_interview_Complete__c","Is_the_Initial_Intake_Assessment_done__c",
            "Revised_Resume_Used_to_Apply_for_Job__c_x","Permission_to_use_job_board_granted__c","Resume_Tailoring_Tips__c","Finalized_HHUSA_revised_resume_on_file__c","Hire_Heroes_USA_Confirmed_Hire__c","VCF_Participant__c","Volunteer_Services__c","Interview_Skills__c","Value_Proposition__c"]

In [255]:
confirmed_hire=confirmed_hire[action_list]

In [256]:
confirmed_hire.shape

(30557, 31)

In [257]:
not_confirmed_hire=not_confirmed_hire[action_list]

In [258]:
not_confirmed_hire.shape

(197, 31)

# Confirmed Hire

In [163]:
pd.crosstab(confirmed_hire.Volunteer_Services__c, columns=['Volunteer_Services__c'])

col_0                                               Volunteer_Services__c
Volunteer_Services__c
Career Counseling                                                     141
Federal Resume / Application                                           68
Mock Interview                                                        576
Mock Interview at Workshop                                              6
Mock Interview;Career Counseling                                        3
None                                                                24996
None;Career Counseling                                                  2
None;Federal Resume / Application                                       1
None;Mock Interview                                                     2
None;Mock Interview at Workshop                                         1
None;Mock Interview;Career Counseling                                   1
None;Mock Interview;Career Counseling;Mock Inte...                      1

# Not confirmed Hire

In [165]:
pd.crosstab(not_confirmed_hire.Volunteer_Services__c, columns=['Volunteer_Services__c'])

col_0                  Volunteer_Services__c
Volunteer_Services__c
None                                     194

# Confirmed Hire

In [167]:
pd.crosstab(confirmed_hire.VCF_Participant__c, columns=['VCF_Participant__c'])

col_0               VCF_Participant__c
VCF_Participant__c
0.0                              29964
1.0                                593

# Not Confirmed Hire

In [168]:
pd.crosstab(not_confirmed_hire.VCF_Participant__c, columns=['VCF_Participant__c'])

col_0               VCF_Participant__c
VCF_Participant__c
0.0                                185
1.0                                 12

# Confirmed Hire

In [185]:
pd.crosstab(confirmed_hire.Virtual_Workshop_Participant__c, columns=['Virtual_Workshop_Participant__c'])

col_0                            Virtual_Workshop_Participant__c
Virtual_Workshop_Participant__c
0.0                                                        30465
1.0                                                           92

# Not Confirmed Hire

In [187]:
pd.crosstab(not_confirmed_hire.Virtual_Workshop_Participant__c, columns=['Virtual_Workshop_Participant__c'])

col_0                            Virtual_Workshop_Participant__c
Virtual_Workshop_Participant__c
0.0                                                          197

# Confirmed Hire

In [197]:
pd.crosstab(confirmed_hire.On_Job_Board__c, columns=['On_Job_Board__c'])

col_0            On_Job_Board__c
On_Job_Board__c
0.0                        26632
1.0                         3925

# Not Confirmed Hire

In [198]:
pd.crosstab(not_confirmed_hire.On_Job_Board__c, columns=['On_Job_Board__c'])

col_0            On_Job_Board__c
On_Job_Board__c
0.0                          156
1.0                           41

#  Confirmed Hire

In [210]:
pd.crosstab(confirmed_hire.Federal_Hire__c_x, columns=['Federal_Hire__c_x'])

col_0              Federal_Hire__c_x
Federal_Hire__c_x
0.0                            29466
1.0                             1091

# Not  Confirmed Hire

In [211]:
pd.crosstab(not_confirmed_hire.Federal_Hire__c_x, columns=['Federal_Hire__c_x'])

col_0              Federal_Hire__c_x
Federal_Hire__c_x
0.0                              197

#  Confirmed Hire

In [223]:
pd.crosstab(confirmed_hire.Interview_Skills__c, columns=['Interview_Skills__c'])

col_0                Interview_Skills__c
Interview_Skills__c
0                                   7331
1                                  23226

#  Not Confirmed Hire

In [224]:
pd.crosstab(not_confirmed_hire.Interview_Skills__c, columns=['Interview_Skills__c'])

col_0                Interview_Skills__c
Interview_Skills__c
0                                     16
1                                    181

# Confirmed Hire

In [235]:
pd.crosstab(confirmed_hire.Created_LinkedIn_account__c, columns=['Created_LinkedIn_account__c'])

col_0                        Created_LinkedIn_account__c
Created_LinkedIn_account__c
0                                                  11753
1                                                  18804

#  Not Confirmed Hire

In [236]:
pd.crosstab(not_confirmed_hire.Created_LinkedIn_account__c, columns=['Created_LinkedIn_account__c'])

col_0                        Created_LinkedIn_account__c
Created_LinkedIn_account__c
0                                                     49
1                                                    148

# Confirmed Hire

In [261]:
pd.crosstab(confirmed_hire.Value_Proposition__c, columns=['Value_Proposition__c'])

col_0                 Value_Proposition__c
Value_Proposition__c
0.0                                   6869
1.0                                  23688

# Not Confirmed Hire

In [260]:
pd.crosstab(not_confirmed_hire.Value_Proposition__c, columns=['Value_Proposition__c'])

col_0                 Value_Proposition__c
Value_Proposition__c
0.0                                     10
1.0                                    187

# Confirmed Hire

In [26]:
pd.crosstab(confirmed_hire.Hired_with_EO_assistance__c, columns=['Hired_with_EO_assistance__c'])

col_0                        Hired_with_EO_assistance__c
Hired_with_EO_assistance__c
0.0                                                30519
1.0                                                   38

# Not Confirmed Hire

In [27]:
pd.crosstab(not_confirmed_hire.Hired_with_EO_assistance__c, columns=['Hired_with_EO_assistance__c'])

col_0                        Hired_with_EO_assistance__c
Hired_with_EO_assistance__c
0.0                                                  197

# Confirmed Hire

In [28]:
pd.crosstab(confirmed_hire.Updated_Resume_Complete__c, columns=['Updated_Resume_Complete__c'])

col_0                       Updated_Resume_Complete__c
Updated_Resume_Complete__c
0.0                                              29652
1.0                                                905

# Not Confirmed Hire

In [29]:
pd.crosstab(not_confirmed_hire.Updated_Resume_Complete__c, columns=['Updated_Resume_Complete__c'])

col_0                       Updated_Resume_Complete__c
Updated_Resume_Complete__c
0.0                                                174
1.0                                                 23

# Confirmed Hire

In [30]:
pd.crosstab(confirmed_hire.HHUSA_Workshop_Participant__c, columns=['HHUSA_Workshop_Participant__c'])

col_0                          HHUSA_Workshop_Participant__c
HHUSA_Workshop_Participant__c
0                                                      27418
1                                                       3139

# Not Confirmed Hire

In [31]:
pd.crosstab(not_confirmed_hire.HHUSA_Workshop_Participant__c, columns=['HHUSA_Workshop_Participant__c'])

col_0                          HHUSA_Workshop_Participant__c
HHUSA_Workshop_Participant__c
0                                                        187
1                                                         10

# Confirmed Hire

In [32]:
pd.crosstab(confirmed_hire.O2O_Initial_Assessment_Complete__c, columns=['O2O_Initial_Assessment_Complete__c'])

col_0                               O2O_Initial_Assessment_Complete__c
O2O_Initial_Assessment_Complete__c
0.0                                                              30215
1.0                                                                342

# Not Confirmed Hire

In [33]:
pd.crosstab(not_confirmed_hire.O2O_Initial_Assessment_Complete__c, columns=['O2O_Initial_Assessment_Complete__c'])

col_0                               O2O_Initial_Assessment_Complete__c
O2O_Initial_Assessment_Complete__c
0.0                                                                197

# Confirmed Hire

In [138]:
pd.crosstab(confirmed_hire.MyTrak_1_on_1_Career_Coaching_Request__c, columns=['MyTrak_1_on_1_Career_Coaching_Request__c'])

col_0                                     VCF_Participant__c
MyTrak_1_on_1_Career_Coaching_Request__c
0.0                                                    30488
1.0                                                       69

# Not Confirmed Hire

In [139]:
pd.crosstab(not_confirmed_hire.MyTrak_1_on_1_Career_Coaching_Request__c, columns=['MyTrak_1_on_1_Career_Coaching_Request__c'])

col_0                                     VCF_Participant__c
MyTrak_1_on_1_Career_Coaching_Request__c
0.0                                                      197

# Confirmed Hire

In [36]:
pd.crosstab(confirmed_hire.MyTrak_Be_a_Desirable_Candidate_Complete__c, columns=['MyTrak_Be_a_Desirable_Candidate_Complete__c'])

col_0                                        MyTrak_Be_a_Desirable_Candidate_Complete__c
MyTrak_Be_a_Desirable_Candidate_Complete__c
0.0                                                                                30557

# Not Confirmed Hire

In [37]:
pd.crosstab(not_confirmed_hire.MyTrak_Be_a_Desirable_Candidate_Complete__c, columns=['MyTrak_Be_a_Desirable_Candidate_Complete__c'])

col_0                                        MyTrak_Be_a_Desirable_Candidate_Complete__c
MyTrak_Be_a_Desirable_Candidate_Complete__c
0.0                                                                                  197

# Confirmed Hire

In [38]:
pd.crosstab(confirmed_hire.MyTrak_Essentials_Complete__c, columns=['MyTrak_Essentials_Complete__c'])

col_0                          MyTrak_Essentials_Complete__c
MyTrak_Essentials_Complete__c
0.0                                                    24185
1.0                                                     6372

# Not Confirmed Hire

In [39]:
pd.crosstab(not_confirmed_hire.MyTrak_Essentials_Complete__c, columns=['MyTrak_Essentials_Complete__c'])

col_0                          MyTrak_Essentials_Complete__c
MyTrak_Essentials_Complete__c
0.0                                                       48
1.0                                                      149

# Confirmed Hire

In [29]:
pd.crosstab(confirmed_hire.MyTrak_Federal_Resume_Review__c, columns=['MyTrak_Federal_Resume_Review__c'])

col_0                            MyTrak_Federal_Resume_Review__c
MyTrak_Federal_Resume_Review__c
0.0                                                        30159
1.0                                                          191

# Not Confirmed Hire

In [40]:
pd.crosstab(not_confirmed_hire.MyTrak_Federal_Resume_Review__c, columns=['MyTrak_Federal_Resume_Review__c'])

col_0                            MyTrak_Federal_Resume_Review__c
MyTrak_Federal_Resume_Review__c
0.0                                                          193
1.0                                                            4

# Confirmed Hire

In [41]:
pd.crosstab(confirmed_hire.MyTrak_Is_MyTrak_Registrant__c, columns=['MyTrak_Is_MyTrak_Registrant__c'])

col_0                           MyTrak_Is_MyTrak_Registrant__c
MyTrak_Is_MyTrak_Registrant__c
0.0                                                      23847
1.0                                                       6710

# Not Confirmed Hire

In [42]:
pd.crosstab(not_confirmed_hire.MyTrak_Is_MyTrak_Registrant__c, columns=['MyTrak_Is_MyTrak_Registrant__c'])

col_0                           MyTrak_Is_MyTrak_Registrant__c
MyTrak_Is_MyTrak_Registrant__c
0.0                                                         45
1.0                                                        152

# Confirmed Hire

In [43]:
pd.crosstab(confirmed_hire.MyTrak_Mock_Interview_Request__c, columns=['MyTrak_Mock_Interview_Request__c'])

col_0                             MyTrak_Mock_Interview_Request__c
MyTrak_Mock_Interview_Request__c
0.0                                                          30497
1.0                                                             60

# Not Confirmed Hire

In [44]:
pd.crosstab(not_confirmed_hire.MyTrak_Mock_Interview_Request__c, columns=['MyTrak_Mock_Interview_Request__c'])

col_0                             MyTrak_Mock_Interview_Request__c
MyTrak_Mock_Interview_Request__c
0.0                                                            195
1.0                                                              2

# Confirmed Hire

In [45]:
pd.crosstab(confirmed_hire.MyTrak_Prepare_for_interview_Complete__c, columns=['MyTrak_Prepare_for_interview_Complete__c'])

col_0                                     MyTrak_Prepare_for_interview_Complete__c
MyTrak_Prepare_for_interview_Complete__c
0.0                                                                          30557

# Not Confirmed Hire

In [46]:
pd.crosstab(not_confirmed_hire.MyTrak_Prepare_for_interview_Complete__c, columns=['MyTrak_Prepare_for_interview_Complete__c'])

col_0                                     MyTrak_Prepare_for_interview_Complete__c
MyTrak_Prepare_for_interview_Complete__c
0.0                                                                            197

# Confirmed Hire

In [47]:
pd.crosstab(confirmed_hire.Is_the_Initial_Intake_Assessment_done__c, columns=['Is_the_Initial_Intake_Assessment_done__c'])

col_0                                     Is_the_Initial_Intake_Assessment_done__c
Is_the_Initial_Intake_Assessment_done__c
0                                                                              370
1                                                                            30187

# Not Confirmed Hire

In [48]:
pd.crosstab(not_confirmed_hire.Is_the_Initial_Intake_Assessment_done__c, columns=['Is_the_Initial_Intake_Assessment_done__c'])

col_0                                     Is_the_Initial_Intake_Assessment_done__c
Is_the_Initial_Intake_Assessment_done__c
1                                                                              197

# Confirmed Hire

In [49]:
pd.crosstab(confirmed_hire.Permission_to_use_job_board_granted__c, columns=['Permission_to_use_job_board_granted__c'])

col_0                                   Permission_to_use_job_board_granted__c
Permission_to_use_job_board_granted__c
0                                                                        26857
1                                                                         3700

# Not Confirmed Hire

In [50]:
pd.crosstab(not_confirmed_hire.Permission_to_use_job_board_granted__c, columns=['Permission_to_use_job_board_granted__c'])

col_0                                   Permission_to_use_job_board_granted__c
Permission_to_use_job_board_granted__c
0                                                                          188
1                                                                            9

# Confirmed Hire

In [51]:
pd.crosstab(confirmed_hire.Finalized_HHUSA_revised_resume_on_file__c, columns=['Finalized_HHUSA_revised_resume_on_file__c'])

col_0                                      Finalized_HHUSA_revised_resume_on_file__c
Finalized_HHUSA_revised_resume_on_file__c
0                                                                                281
1                                                                              30276

# Not Confirmed Hire

In [52]:
pd.crosstab(not_confirmed_hire.Finalized_HHUSA_revised_resume_on_file__c, columns=['Finalized_HHUSA_revised_resume_on_file__c'])

col_0                                      Finalized_HHUSA_revised_resume_on_file__c
Finalized_HHUSA_revised_resume_on_file__c
0                                                                                  1
1                                                                                196

# Confirmed Hire

In [57]:
pd.crosstab(confirmed_hire.Revised_Resume_Used_to_Apply_for_Job__c_x, columns=['Revised_Resume_Used_to_Apply_for_Job__c_x'])

col_0                                      Revised_Resume_Used_to_Apply_for_Job__c_x
Revised_Resume_Used_to_Apply_for_Job__c_x
No                                                                              1892
Yes                                                                            23970

# Not Confirmed Hire

In [59]:
pd.crosstab(not_confirmed_hire.Revised_Resume_Used_to_Apply_for_Job__c_x, columns=['Revised_Resume_Used_to_Apply_for_Job__c_x'])

col_0                                      Revised_Resume_Used_to_Apply_for_Job__c_x
Revised_Resume_Used_to_Apply_for_Job__c_x
Yes                                                                                1

In [61]:
not_confirmed_hire['Revised_Resume_Used_to_Apply_for_Job__c_x'].isnull().sum()

196

# Confirmed Hire

In [63]:
pd.crosstab(confirmed_hire.Resume_Tailoring_Tips__c, columns=['Resume_Tailoring_Tips__c'])

col_0                     Resume_Tailoring_Tips__c
Resume_Tailoring_Tips__c
0.0                                          22228
1.0                                           8329

# Not Confirmed Hire

In [64]:
pd.crosstab(not_confirmed_hire.Resume_Tailoring_Tips__c, columns=['Resume_Tailoring_Tips__c'])

col_0                     Resume_Tailoring_Tips__c
Resume_Tailoring_Tips__c
0.0                                             38
1.0                                            159

# to check if the person conducting assesment influences the hiring chances

In [122]:
Result_without_Filtering=(confirmed_hire.reset_index()
          .groupby(['Resume_Completed_By__c'])['Resume_Completed_By__c']
          .count().rename(columns={'count':'Count'})
       )

In [ ]:
Result_without_Filtering=Result_without_Filtering.to_frame().reset_index()

In [131]:
names=['Resume_Completed_By__c', 'Total_Count']

In [132]:
Result_without_Filtering.columns = names

In [133]:
Result_without_Filtering

    Resume_Completed_By__c  Total_Count
0       0050z000006tEPEAA2           16
1       0050z0000078xG2AAI            7
2       0050z0000078xGMAAY            6
3       0050z00000796uVAAQ            2
4       0050z00000796uaAAA            5
5       0050z00000796vTAAQ            8
6       0050z00000796vdAAA            2
7       0050z0000079ElWAAU            1
8       0050z0000079ElgAAE            1
9       0050z0000079ElvAAE            3
10      00538000003nrcXAAQ            2
11      005380000044j39AAA          383
12      00538000004SivDAAS          444
13      00538000004SivXAAS          200
14      00538000004SiwBAAS          133
15      00538000004SiwLAAS          216
16      00538000004SiwfAAC          374
17      00538000004SsftAAC          149
18      00538000004kCkJAAU          198
19      00538000004kgd8AAA          227
20      00538000004kgdmAAA          186
21      00538000004kgf9AAA          388
22      00538000004kgfTAAQ          345
23      00538000004kmwXAAQ          175
24      00538000004l7NHAAY          375
25      00538000004lAqgAAE          505
26      00538000004lAqqAAE          484
27      00538000004lJWkAAM          437
28      00538000004lJWlAAM          478
29      00538000004lJWmAAM          394
..                     ...          ...
136     005500000040szYAAQ          317
137     005500000041G89AAE          283
138     005500000041It2AAE          324
139     005500000042ED9AAM          122
140     005500000042GlIAAU          517
141     005500000042I1HAAU          163
142     005500000042RauAAE          105
143     005500000042TrsAAE          679
144     005500000042TrxAAE          354
145     005500000042Vd4AAE          186
146     005500000042X0TAAU          484
147     005500000042X25AAE          390
148     005500000042c67AAA          258
149     005500000042c6CAAQ           94
150     005500000042c6HAAQ          560
151     005500000042c6MAAQ          138
152     005500000042pkjAAA          261
153     005500000042pkoAAA          438
154     005500000042plIAAQ           58
155     005500000042qPXAAY          259
156     005500000043MkIAAU          266
157     005500000043hbvAAA           39
158     005500000043hc0AAA          148
159     005500000043jE0AAI          195
160     005500000043jLpAAI           46
161     005500000044HdTAAU          240
162     005500000044JlZAAU            9
163     005500000044UKZAA2          149
164     005500000044WcVAAU          222
165     005500000044YEkAAM          254

[166 rows x 2 columns]

In [97]:
Resume_evaluation=confirmed_hire.loc[confirmed_hire["Revised_Resume_Used_to_Apply_for_Job__c_x"]=="Yes"]

In [100]:
result = (Resume_evaluation.reset_index()
          .groupby(['Resume_Completed_By__c'])['Resume_Completed_By__c']
          .count().rename(columns={'count':'Count'})
       )

In [ ]:
names=['Resume_Completed_By__c', 'Total_Count']

In [102]:
result=result.to_frame().reset_index()

In [103]:
names=['Resume_Completed_By__c', 'Count']

In [104]:
result.columns = names

In [88]:
result.head(3)

  Resume_Completed_By__c  Count
0     0050z000006tEPEAA2     17
1     0050z0000078xG2AAI      9
2     0050z0000078xGMAAY      7

In [134]:
final_dataset = pd.merge(Result_without_Filtering, result, left_on='Resume_Completed_By__c', right_on='Resume_Completed_By__c')

In [135]:
final_dataset.head(3)

  Resume_Completed_By__c  Total_Count  Count
0     00538000003nrcXAAQ            2      2
1     005380000044j39AAA          383    298
2     00538000004SivDAAS          444    341

In [136]:
final_dataset['Yes_percentage']=(final_dataset['Count']/final_dataset['Total_Count'])*100

In [137]:
final_dataset.head(3)

  Resume_Completed_By__c  Total_Count  Count  Yes_percentage
0     00538000003nrcXAAQ            2      2      100.000000
1     005380000044j39AAA          383    298       77.806789
2     00538000004SivDAAS          444    341       76.801802

# Remaining