In [47]:
import pandas as pd

In [48]:
data=pd.read_csv("C://Users/Nameetha/Desktop/DSP_Project/SalesForce_Contact/SalesForce_Contact.csv",encoding='latin', low_memory=False)

In [49]:
data.shape

(132445, 391)

In [50]:
confirmed_hire=data.loc[data["Hire_Heroes_USA_Confirmed_Hire__c"]==1]

In [51]:
confirmed_hire.shape

(30350, 391)

In [52]:
action_list=["Purple_Heart_Recipient__c","Active_Color__c","Assessment_Completed_By__c","Resume_Completed_By__c","Dat_Initial_Assessment_was_Completed__c","Online_Training_Participant_Date__c",
             "Hired_with_EO_assistance__c","Updated_Resume_Complete__c","HHUSA_Workshop_Participant__c","O2O_Initial_Assessment_Complete__c","MyTrak_1_on_1_Career_Coaching_Request__c","MyTrak_Be_a_Desirable_Candidate_Complete__c",
           "MyTrak_Essentials_Complete__c","MyTrak_Federal_Resume_Review__c","MyTrak_Is_MyTrak_Registrant__c","MyTrak_Mock_Interview_Request__c","MyTrak_Prepare_for_interview_Complete__c","Is_the_Initial_Intake_Assessment_done__c",
            "Revised_Resume_Used_to_Apply_for_Job__c","Permission_to_use_job_board_granted__c","Resume_Tailoring_Tips__c","Finalized_HHUSA_revised_resume_on_file__c","Hire_Heroes_USA_Confirmed_Hire__c"]

In [53]:
confirmed_hire=confirmed_hire[action_list]

In [54]:
confirmed_hire.shape

(30350, 23)

In [22]:
pd.crosstab(confirmed_hire.Hired_with_EO_assistance__c, columns=['Hired_with_EO_assistance__c'])

col_0                        Hired_with_EO_assistance__c
Hired_with_EO_assistance__c
0.0                                                30312
1.0                                                   38

In [23]:
pd.crosstab(confirmed_hire.Updated_Resume_Complete__c, columns=['Updated_Resume_Complete__c'])

col_0                       Updated_Resume_Complete__c
Updated_Resume_Complete__c
0.0                                              29492
1.0                                                858

In [24]:
pd.crosstab(confirmed_hire.HHUSA_Workshop_Participant__c, columns=['HHUSA_Workshop_Participant__c'])

col_0                          HHUSA_Workshop_Participant__c
HHUSA_Workshop_Participant__c
0                                                      27239
1                                                       3111

In [25]:
pd.crosstab(confirmed_hire.O2O_Initial_Assessment_Complete__c, columns=['O2O_Initial_Assessment_Complete__c'])

col_0                               O2O_Initial_Assessment_Complete__c
O2O_Initial_Assessment_Complete__c
0.0                                                              30010
1.0                                                                340

In [26]:
pd.crosstab(confirmed_hire.MyTrak_1_on_1_Career_Coaching_Request__c, columns=['MyTrak_1_on_1_Career_Coaching_Request__c'])

col_0                                     MyTrak_1_on_1_Career_Coaching_Request__c
MyTrak_1_on_1_Career_Coaching_Request__c
0.0                                                                          30281
1.0                                                                             69

In [27]:
pd.crosstab(confirmed_hire.MyTrak_Be_a_Desirable_Candidate_Complete__c, columns=['MyTrak_Be_a_Desirable_Candidate_Complete__c'])

col_0                                        MyTrak_Be_a_Desirable_Candidate_Complete__c
MyTrak_Be_a_Desirable_Candidate_Complete__c
0.0                                                                                30350

In [28]:
pd.crosstab(confirmed_hire.MyTrak_Essentials_Complete__c, columns=['MyTrak_Essentials_Complete__c'])

col_0                          MyTrak_Essentials_Complete__c
MyTrak_Essentials_Complete__c
0.0                                                    24013
1.0                                                     6337

In [29]:
pd.crosstab(confirmed_hire.MyTrak_Federal_Resume_Review__c, columns=['MyTrak_Federal_Resume_Review__c'])

col_0                            MyTrak_Federal_Resume_Review__c
MyTrak_Federal_Resume_Review__c
0.0                                                        30159
1.0                                                          191

In [30]:
pd.crosstab(confirmed_hire.MyTrak_Is_MyTrak_Registrant__c, columns=['MyTrak_Is_MyTrak_Registrant__c'])

col_0                           MyTrak_Is_MyTrak_Registrant__c
MyTrak_Is_MyTrak_Registrant__c
0.0                                                      23684
1.0                                                       6666

In [31]:
pd.crosstab(confirmed_hire.MyTrak_Mock_Interview_Request__c, columns=['MyTrak_Mock_Interview_Request__c'])

col_0                             MyTrak_Mock_Interview_Request__c
MyTrak_Mock_Interview_Request__c
0.0                                                          30290
1.0                                                             60

In [32]:
pd.crosstab(confirmed_hire.MyTrak_Prepare_for_interview_Complete__c, columns=['MyTrak_Prepare_for_interview_Complete__c'])

col_0                                     MyTrak_Prepare_for_interview_Complete__c
MyTrak_Prepare_for_interview_Complete__c
0.0                                                                          30350

In [33]:
pd.crosstab(confirmed_hire.Is_the_Initial_Intake_Assessment_done__c, columns=['Is_the_Initial_Intake_Assessment_done__c'])

col_0                                     Is_the_Initial_Intake_Assessment_done__c
Is_the_Initial_Intake_Assessment_done__c
0                                                                              370
1                                                                            29980

In [34]:
pd.crosstab(confirmed_hire.Permission_to_use_job_board_granted__c, columns=['Permission_to_use_job_board_granted__c'])

col_0                                   Permission_to_use_job_board_granted__c
Permission_to_use_job_board_granted__c
0                                                                        26681
1                                                                         3669

In [21]:
pd.crosstab(confirmed_hire.Finalized_HHUSA_revised_resume_on_file__c, columns=['Finalized_HHUSA_revised_resume_on_file__c'])

col_0                                      Finalized_HHUSA_revised_resume_on_file__c
Finalized_HHUSA_revised_resume_on_file__c
0                                                                                281
1                                                                              30069

In [35]:
pd.crosstab(confirmed_hire.Revised_Resume_Used_to_Apply_for_Job__c, columns=['Revised_Resume_Used_to_Apply_for_Job__c'])

col_0                                    Revised_Resume_Used_to_Apply_for_Job__c
Revised_Resume_Used_to_Apply_for_Job__c
No                                                                          1882
Yes                                                                        23779

In [36]:
pd.crosstab(confirmed_hire.Resume_Tailoring_Tips__c, columns=['Resume_Tailoring_Tips__c'])

col_0                     Resume_Tailoring_Tips__c
Resume_Tailoring_Tips__c
0.0                                          22076
1.0                                           8274

#to check if the person conducting assesment influences the hiring chances

In [73]:
result = (data.reset_index()
          .groupby(['Resume_Completed_By__c'])['Resume_Completed_By__c']
          .count()
          
          .rename(columns={'index':'count'})
       )

In [74]:
result

Resume_Completed_By__c
0050z000006tEPEAA2     129
0050z0000078xG2AAI      91
0050z0000078xGMAAY      91
0050z00000796uVAAQ      44
0050z00000796uaAAA      69
0050z00000796vTAAQ      74
0050z00000796vdAAA      72
0050z0000079ElWAAU      47
0050z0000079ElgAAE      51
0050z0000079ElvAAE      59
0050z0000079F81AAE      12
0050z0000079O3UAAU       2
0050z0000079S0yAAE      20
0050z0000079S18AAE      17
00538000003nrcXAAQ       2
005380000044j39AAA     635
00538000004SivDAAS     727
00538000004SivXAAS     365
00538000004SiwBAAS     219
00538000004SiwLAAS     390
00538000004SiwfAAC     791
00538000004SsftAAC     288
00538000004kCkJAAU     325
00538000004kgd8AAA     427
00538000004kgdmAAA     349
00538000004kgf9AAA     653
00538000004kgfTAAQ     727
00538000004kmwXAAQ     295
00538000004l7NHAAY     549
00538000004lAqgAAE     814
                      ...
005500000040szYAAQ     452
005500000041G89AAE     439
005500000041It2AAE     541
005500000042ED9AAM     172
005500000042GlIAAU     820
005500000042I1HAAU     226
005500000042RauAAE     156
005500000042TrsAAE    1013
005500000042TrxAAE     471
005500000042Vd4AAE     282
005500000042X0TAAU     914
005500000042X25AAE     588
005500000042c67AAA     487
005500000042c6CAAQ     151
005500000042c6HAAQ     875
005500000042c6MAAQ     231
005500000042pkjAAA     490
005500000042pkoAAA     607
005500000042plIAAQ      86
005500000042qPXAAY     425
005500000043MkIAAU     413
005500000043hbvAAA      63
005500000043hc0AAA     224
005500000043jE0AAI     323
005500000043jLpAAI      70
005500000044HdTAAU     319
005500000044JlZAAU      13
005500000044UKZAA2     221
005500000044WcVAAU     337
005500000044YEkAAM     336
Length: 171, dtype: int64

In [72]:
confirmed_hire.groupby(['Resume_Completed_By__c'])['Resume_Completed_By__c'].count()

Resume_Completed_By__c
0050z000006tEPEAA2     16
0050z0000078xG2AAI      7
0050z0000078xGMAAY      6
0050z00000796uVAAQ      2
0050z00000796uaAAA      5
0050z00000796vTAAQ      8
0050z00000796vdAAA      2
0050z0000079ElWAAU      1
0050z0000079ElgAAE      1
0050z0000079ElvAAE      3
00538000003nrcXAAQ      2
005380000044j39AAA    382
00538000004SivDAAS    443
00538000004SivXAAS    199
00538000004SiwBAAS    133
00538000004SiwLAAS    215
00538000004SiwfAAC    373
00538000004SsftAAC    149
00538000004kCkJAAU    197
00538000004kgd8AAA    226
00538000004kgdmAAA    183
00538000004kgf9AAA    386
00538000004kgfTAAQ    344
00538000004kmwXAAQ    174
00538000004l7NHAAY    373
00538000004lAqgAAE    504
00538000004lAqqAAE    484
00538000004lJWkAAM    434
00538000004lJWlAAM    478
00538000004lJWmAAM    393
                     ...
005500000040szYAAQ    315
005500000041G89AAE    280
005500000041It2AAE    324
005500000042ED9AAM    121
005500000042GlIAAU    506
005500000042I1HAAU    162
005500000042RauAAE    105
005500000042TrsAAE    674
005500000042TrxAAE    345
005500000042Vd4AAE    185
005500000042X0TAAU    477
005500000042X25AAE    388
005500000042c67AAA    255
005500000042c6CAAQ     93
005500000042c6HAAQ    550
005500000042c6MAAQ    138
005500000042pkjAAA    258
005500000042pkoAAA    431
005500000042plIAAQ     58
005500000042qPXAAY    250
005500000043MkIAAU    264
005500000043hbvAAA     38
005500000043hc0AAA    146
005500000043jE0AAI    192
005500000043jLpAAI     46
005500000044HdTAAU    240
005500000044JlZAAU      9
005500000044UKZAA2    148
005500000044WcVAAU    220
005500000044YEkAAM    251
Name: Resume_Completed_By__c, Length: 166, dtype: int64

Inference:#Data suggests that the hiring mostly depends on the person handling the clients.

In [75]:
 (data.reset_index()
          .groupby(['Assessment_Completed_By__c'])['Assessment_Completed_By__c']
          .count()
          
          .rename(columns={'index':'count'})
       )

Assessment_Completed_By__c
0050z000006tEPEAA2     130
0050z0000078xG2AAI     107
0050z0000078xGMAAY     103
0050z00000796uVAAQ      56
0050z00000796uaAAA      76
0050z00000796vTAAQ      79
0050z00000796vdAAA      76
0050z0000079ElWAAU      47
0050z0000079ElgAAE      58
0050z0000079ElvAAE      60
0050z0000079O3UAAU       2
0050z0000079S0yAAE      23
0050z0000079S18AAE      18
00538000003nrcXAAQ       3
005380000044j39AAA     716
00538000004SivDAAS     785
00538000004SivXAAS     386
00538000004SiwBAAS     250
00538000004SiwLAAS     437
00538000004SiwfAAC     827
00538000004SsftAAC     316
00538000004kCkJAAU     325
00538000004kgd8AAA     466
00538000004kgdmAAA     371
00538000004kgf9AAA     684
00538000004kgfTAAQ     779
00538000004kmwXAAQ     310
00538000004l7NHAAY     565
00538000004lAqgAAE     848
00538000004lAqqAAE     831
                      ...
005500000040szYAAQ     478
005500000041G89AAE     499
005500000041It2AAE     600
005500000042ED9AAM     206
005500000042GlIAAU     862
005500000042I1HAAU     258
005500000042RauAAE     174
005500000042TrsAAE    1030
005500000042TrxAAE     482
005500000042Vd4AAE     311
005500000042X0TAAU     962
005500000042X25AAE     619
005500000042c67AAA     544
005500000042c6CAAQ     191
005500000042c6HAAQ     965
005500000042c6MAAQ     311
005500000042pkjAAA     542
005500000042pkoAAA     650
005500000042plIAAQ     107
005500000042qPXAAY     441
005500000043MkIAAU     471
005500000043hbvAAA      71
005500000043hc0AAA     248
005500000043jE0AAI     343
005500000043jLpAAI      71
005500000044HdTAAU     324
005500000044JlZAAU      30
005500000044UKZAA2     227
005500000044WcVAAU     344
005500000044YEkAAM     341
Length: 169, dtype: int64

In [76]:
confirmed_hire.groupby(['Assessment_Completed_By__c'])['Assessment_Completed_By__c'].count()

Assessment_Completed_By__c
0050z000006tEPEAA2     16
0050z0000078xG2AAI      7
0050z0000078xGMAAY      6
0050z00000796uVAAQ      2
0050z00000796uaAAA      5
0050z00000796vTAAQ      8
0050z00000796vdAAA      2
0050z0000079ElWAAU      1
0050z0000079ElgAAE      1
0050z0000079ElvAAE      3
00538000003nrcXAAQ      2
005380000044j39AAA    385
00538000004SivDAAS    443
00538000004SivXAAS    197
00538000004SiwBAAS    136
00538000004SiwLAAS    210
00538000004SiwfAAC    368
00538000004SsftAAC    145
00538000004kCkJAAU    188
00538000004kgd8AAA    226
00538000004kgdmAAA    178
00538000004kgf9AAA    381
00538000004kgfTAAQ    344
00538000004kmwXAAQ    177
00538000004l7NHAAY    376
00538000004lAqgAAE    507
00538000004lAqqAAE    481
00538000004lJWkAAM    429
00538000004lJWlAAM    465
00538000004lJWmAAM    387
                     ...
005500000040szYAAQ    313
005500000041G89AAE    275
005500000041It2AAE    320
005500000042ED9AAM    125
005500000042GlIAAU    491
005500000042I1HAAU    172
005500000042RauAAE    108
005500000042TrsAAE    673
005500000042TrxAAE    342
005500000042Vd4AAE    192
005500000042X0TAAU    474
005500000042X25AAE    393
005500000042c67AAA    261
005500000042c6CAAQ     98
005500000042c6HAAQ    553
005500000042c6MAAQ    140
005500000042pkjAAA    262
005500000042pkoAAA    426
005500000042plIAAQ     60
005500000042qPXAAY    252
005500000043MkIAAU    268
005500000043hbvAAA     37
005500000043hc0AAA    143
005500000043jE0AAI    185
005500000043jLpAAI     47
005500000044HdTAAU    234
005500000044JlZAAU     16
005500000044UKZAA2    151
005500000044WcVAAU    223
005500000044YEkAAM    252
Name: Assessment_Completed_By__c, Length: 166, dtype: int64