In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("SalesForce_Contact.csv",encoding='latin', low_memory=False)

In [3]:
data.shape

(132445, 391)

In [8]:
data.isnull().sum()

Id                                                 0
AccountId                                          0
RecordTypeId                                       0
MailingState                                    8083
MailingPostalCode                              16898
MailingCountry                                  9204
LeadSource                                    119425
OwnerId                                            0
HasOptedOutOfEmail                                 0
HasOptedOutOfFax                                   0
DoNotCall                                          0
CanAllowPortalSelfReg                              0
CreatedDate                                        0
CreatedById                                        0
LastModifiedDate                                   0
LastModifiedById                                   0
SystemModstamp                                     0
LastActivityDate                               30364
Previous_HH_Client__c                              0
Volunteer_Interests__c                        132047
Tableau_Fix__c                                 22833
Multiple_AVR__c                                    0
Vendor_Contact__c                              91538
Do_Not_Mail_old__c                                 0
Gender__c                                      63159
Race__c                                       112560
Number_of_dependents__c                        85428
Employment_Barriers__c                        129843
Interview_Skills__c                                0
Veteran_agreed_to_terms_at_Registration__c         0
                                               ...
Selected_by__c                                132268
Success_Story_published_on__c                 132314
Success_Story_Notes__c                        132182
Bilingual__c                                       0
Willing_to_Relocate__c                             0
Min_Salary_Expectations__c                     85765
Used_Volunteer_Services__c                     23107
Desired_Earnings_Type__c                       85635
Used_Federal_Services__c                       23107
Program_Location__c                           131757
O2O_Cohort_Id__c                              131764
Orientation_Date__c                           131776
O2O_Career_Track__c                           131807
O2O_Training_Track__c                         132273
Online_Training_Track__c                      126627
Hired_By_Partnered_Employer__c                     0
Scheduled_Interview_Date__c                   132443
Matched_Partner_Employer__c                   132427
For_Workflow_Update__c                             0
Orientation_Completed_By__c                   131184
Send_Green_Survey__c                               0
Professional_Certification__c                 129135
TS_Referral_Requested_By__c                   131989
RealZip__RealZip__c                            20885
Discharge_Type__c                             128174
Discharge_Disposition__c                      131463
Date_Turned_Black__c                          118483
Litmos__Litmos_Login_Access__c                109203
Litmos__Total_Sum_Percentages__c              132445
Willing_to_Relocate_to_High_Risk_Area__c       21737
Length: 391, dtype: int64

In [6]:
list(data.head(0))

['Id_x',
 'AccountId',
 'RecordTypeId',
 'MailingState',
 'MailingPostalCode',
 'MailingCountry',
 'LeadSource',
 'OwnerId',
 'HasOptedOutOfEmail',
 'HasOptedOutOfFax',
 'DoNotCall',
 'CanAllowPortalSelfReg',
 'CreatedDate_x',
 'CreatedById_x',
 'LastModifiedDate_x',
 'LastModifiedById_x',
 'SystemModstamp_x',
 'LastActivityDate_x',
 'Previous_HH_Client__c',
 'Volunteer_Interests__c',
 'Tableau_Fix__c',
 'Multiple_AVR__c',
 'Vendor_Contact__c',
 'Do_Not_Mail_old__c',
 'Gender__c',
 'Race__c',
 'Number_of_dependents__c',
 'Employment_Barriers__c',
 'Interview_Skills__c',
 'Veteran_agreed_to_terms_at_Registration__c',
 'Start_Date__c_x',
 'Volunteer_Agreement_on_File__c',
 'Additional_Service_Needs__c',
 'Previously_Interviewed__c',
 'Referral_Date__c',
 'Date_of_Service_Entry__c',
 'Last_Rank__c',
 'Unsubscribe__c',
 'O2O_Status__c',
 'O2O_Partners_Previously_Applied_To__c',
 'Active__c',
 'X3_Month_Survey_Date__c',
 'Mileage_Willing_To_Commute__c',
 'Alumni_Survey_Completed__c',
 'Send_Retention_Survey__c',
 'Referred_To__c',
 'X6_Month_Survey_Date__c',
 'Security_Clearance_Description__c',
 'Temporarily_Unavailable__c',
 'Highest_Level_of_Education_Completed__c',
 'OIF_OEF_Deployed__c',
 'Status__c',
 'Reasons_For_Additional_Service__c',
 'CRF_Impact__c',
 'DD214__c',
 'Purple_Heart_Recipient__c',
 'Active_Color__c',
 'Job_Function_Hired_In__c_x',
 'Desired_Job_Function__c',
 'Possible_Job_Matches__c',
 'Date_Assigned_To_Online__c',
 'Military_Occupation__c',
 'Submitted_for_Mentor__c',
 'VTS_Recommended_Seniority_Level__c',
 'Assessment_Completed_By__c',
 'Resume_Completed_By__c',
 'contact_history__c',
 'Independence_Project_Group__c',
 'Dat_Initial_Assessment_was_Completed__c',
 'Do_Not_Notify_Client__c',
 'Hire_Funding_Source__c',
 'Company_Name__c',
 'Primary_Military_Occupational_Specialty__c',
 'IVMF_Service_Branch__c',
 'stayclassy__date_of_last_donation__c',
 'Donation_Amount__c',
 'Donor_Status__c',
 'stayclassy__opt_in__c',
 'MyTrak_Goal_Job_Industry__c',
 'stayclassy__sc_total_donated__c',
 'Payment_Type_for_Donation__c',
 'Months_Unemployed__c_x',
 'What_volunteer_experience_have_they_had__c',
 'Payment_Received__c',
 'Anonymous_Donor__c',
 'stayclassy__sc_total_donations__c',
 'Online_Training_Participant__c',
 'Date_Assigned_To_HHUSA__c',
 'Expected_Separation_Date__c',
 'Date_Vet_was_recommended_to_portal__c',
 'Date_Vet_was_removed_from_portal__c',
 'Act_On_Behavior_Score__c',
 'Responsive__c',
 'Interested_In_Volunteer_Opportunities__c',
 'O2O_Hire__c',
 'Donor__c',
 'How_they_want_to_volunteer_picklist__c',
 'Awards_and_Decorations_Earned__c',
 'Volunteer__c',
 'Client__c',
 'Disability_Rating__c',
 'Business_Contact__c',
 'Client_Type__c',
 'priority_veteran__c',
 'O2O_Program_Participant__c',
 'VCTP_Participant__c',
 'Available_For_Urgents__c',
 'Service_Branch__c',
 'O2O_Coordinator__c',
 'Contact_Type__c',
 'Pledged_Amount_per_hole_played__c',
 'Special_Event__c',
 'Wish_to_become_Corporate_Sponsor__c',
 'Interested_In_Online_Employer_Training__c',
 'X1_Year_Survey_Date__c',
 'X2_Year_Survey_Date__c',
 'X3_Year_Survey_Date__c',
 'Last_Correspondence_Type__c',
 'Last_Discussion_Topic__c',
 'Do_Not_Use__c',
 'Funder__c',
 'Volunteer_Owner__c',
 'Service_Members_Status__c',
 'Newsletter_Subscriber__c',
 'O2O_Hire_Date__c',
 'Exclude_From_Alumni_Survey__c',
 'Upskilled__c',
 'O2O_Upskilled_Date__c',
 'Times_Hired__c',
 'Match_Eligible_Date__c',
 'Online_Training_Participant_Date__c',
 'AVR__c',
 'Multiple_Hire_Review_Complete__c',
 'Concentration__c',
 'Date_of_Volunteer_Application__c',
 'Federal_Hire__c_x',
 'Date_IP_Survey_Sent__c',
 'O2O_Unresponsive_Date__c',
 'Hired_with_EO_assistance__c',
 'Hire_Records__c',
 'Litmos_Provisioned_Date__c',
 'Virtual_Services_Specialist__c',
 'HHELP_Status__c',
 'Additional_Registration_Interest__c',
 'Volunteer_Inactive_Reason__c',
 'External_Profile_Id__c',
 'VTS_Ready_Date__c',
 'Federal_Program_Participant__c',
 'Exclude_From_Retention_Survey__c',
 'IP_Consent__c',
 'Employer_Account_Specialist_Notes__c',
 'On_Job_Board__c',
 'Program_Enrollments__c',
 'Client_Transfer_Date__c',
 'IVMF_Employment_Outcome_Type__c',
 'EventbriteSync__EventbriteId__c',
 'EventbriteSync__EventbriteType__c',
 'Alumni__c',
 'Ambassadorship_Level__c',
 'Event_Information__c',
 'Applied_to_hired_position_on_Job_Board__c',
 'Updated_Resume_Complete__c',
 'Date_Updated_Resume_Complete__c',
 'Updated_Resume_Completed_By__c',
 'Earliest_Availability__c',
 'Federal_Program_Participant_Date__c',
 'About_Me_Completion_Date__c',
 'Get_Start_Date__c',
 'HHUSA_Workshop_Participant__c',
 'O2O_Initial_Assessment_Complete__c',
 'Date_Attended_HHUSA_Workshop__c',
 'Location_of_Vet_When_Trained__c',
 'O2O_Initial_Assessment_Date__c',
 'IVMF_Position_Hired_For__c',
 'Hiring_Account__c_x',
 'Litmos__Access_Level__c',
 'Litmos__Completed_Percentage__c',
 'Willing_to_relo_with_no_assistance__c',
 'Litmos__Courses_Assigned__c',
 'Litmos__Courses_Completed__c',
 'Litmos__Deactivate_From_Litmos__c',
 'Litmos__Languages__c',
 'Litmos__Level__c',
 'Service_Rank__c',
 'Date_of_Separation__c',
 'My_Goals_Completion_Date__c',
 'Litmos__LitmosID__c',
 'Litmos__Litmos_Activated__c',
 'Staff_member_assigned_to_be_mentor__c',
 'Created_LinkedIn_account__c',
 'Date_assigned_to_staff__c',
 'Litmos__Litmos_UserId__c',
 'Litmos__OriginalId__c',
 'Litmos__Sync_Litmos__c',
 'Date_Turned_Purple__c',
 'Languages_Spoken__c',
 'Litmos__User_Id__c',
 'CODE_Release_on_File__c',
 'Email_Verified_Date__c',
 'MyTrak_1_on_1_Career_Coaching_Request__c',
 'MyTrak_1_on_1_Request_Date__c',
 'MyTrak_Be_a_Desirable_Candidate_Complete__c',
 'MyTrak_Employed_outside_military__c',
 'MyTrak_Essentials_Complete__c',
 'MyTrak_Fed_Resume_Review_Request_Date__c',
 'MyTrak_Federal_Resume_Review__c',
 'MyTrak_Is_MyTrak_Registrant__c',
 'MyTrak_Mock_Interview_Request__c',
 'MyTrak_Mock_Inteview_Request_Date__c',
 'MyTrak_Prepare_for_interview_Complete__c',
 'MyTrak_Request_a_Service_Complete__c',
 'MyTrak_Rethink_Social_Presence_Complete__c',
 'MyTrak_Save_and_Exit__c',
 'MyTrak_Self_Portrait_Complete__c',
 'MyTrak_Share_your_Experience_Complete__c',
 'MyTrak_Spouse_is_Employed__c',
 'MyTrak_VTS_Assigned__c',
 'Self_Registration_Delete__c',
 'Self_Registration_RefId__c',
 'Self_Registration_SessionId__c',
 'Self_Registration_Source__c',
 'Self_Registration_Step__c',
 'MyTrak_Essentials_Completed_Date__c',
 'MyTrak_About_Me__c',
 'MyTrak_Military_Experience__c',
 'MyTrak_My_Goals__c',
 'MyTrak_Past_Jobs__c',
 'MyTrak_Manually_Enabled_Date__c',
 'MyTrak_Manually_Enabled__c',
 'MyTrak_Send_Manual_Email__c',
 'MyTrak_Total_Questions_Answered__c',
 'Manager_Concurs__c',
 'Job_Board_Access__c',
 'O2O_Multiple_Hire_Date__c',
 'Targeted_Services__c',
 'Donor_Type__c',
 'Photo_on_File__c',
 'Tax_Communication_Preference__c',
 'Donor_Tracking_Color__c',
 'Date_Resume_Completed__c',
 'Add_l_Military_Service_Notes__c',
 'Earliest_Employment_Start_Date__c',
 'Desired_City_of_Employment__c',
 'Desired_State_of_Employment__c',
 'Salary_Expectations__c',
 'Specific_Industries_Jobs__c',
 'Is_the_Initial_Intake_Assessment_done__c',
 'Other_Workshop_Notes__c',
 'Confirmed_Hired_Date__c_x',
 'Position_Hired_For__c_x',
 'Client_Currently_Overseas__c',
 'Revised_Resume_Used_to_Apply_for_Job__c_x',
 'ringdna100__Call_Attempts__c',
 'Job_Type__c',
 'Original_Resume_on_File__c',
 'Education_Summary__c',
 'Hired_Section_Notes__c',
 'Hired_but_still_active_and_looking__c_x',
 'ringdna100__Email_Attempts__c',
 'Career_Opportunity_Day_Participant__c',
 'Location_of_Career_Opportunity_Day__c',
 'Date_of_Career_Opportunity_Day__c',
 'ringdna100__First_Inbound_Call__c',
 'ringdna100__First_Outbound_Call__c',
 'Date_turned_grey__c',
 'Date_turned_green__c',
 'Date_of_first_contact__c',
 'Summary_of_Qualifications__c',
 'Areas_of_Experience__c',
 'Preferred_Method_of_Contact__c',
 'Military_Training_Courses_Attended__c',
 'How_the_veteran_heard_about_us__c',
 'Permission_to_use_job_board_granted__c',
 'Additional_Referred_By__c',
 'ringdna100__Last_Email_Attempt__c',
 'ringdna100__Last_Inbound_Call__c',
 'Success_Story_on_file__c',
 'Is_vet_willing_to_go_on_camera__c',
 'ringdna100__Last_Outbound_Call__c',
 'ringdna100__Response_Type__c',
 'Current_Volunteer__c',
 'ringdna100__Time_to_First_Dial_Minutes__c',
 'ringdna100__Time_to_First_Response__c',
 'VCF_Participant__c',
 'Recurring_Donor__c',
 'Recurring_Donor_Frequency__c',
 'Virtual_Workshop_Participant__c',
 'Webinar_Participant__c',
 'Grey_Black_Justification__c',
 'GW_Volunteers__Volunteer_Auto_Reminder_Email_Opt_Out__c',
 'No_match_found__c',
 'Jobs_applied_to_on_HHUSA_job_board__c',
 'Resume_Tailoring_Tips__c',
 'OTYC_Start_Date__c',
 'VCTP_Start_Date__c',
 'Additional_Referred_By_Date__c',
 'Willing_to_complete_success_story__c',
 'Coded_Black_Reviewer_Comments__c',
 'HHUSA_Corporate_Partner__c',
 'Date_Of_Birth__c',
 'Automated_Success_Story_Completed__c',
 'If_Security_Clearance_Yes_What_kind__c',
 'Disability_percentage_60_or_above__c',
 'Job_Seeker_Last_Activity_Date__c',
 'Volunteer_Keywords__c',
 'Industry_hired_in__c',
 'Litmos_Deactivated__c',
 'Salary_Range__c_x',
 'Internship__c_x',
 'Paid_Internship__c',
 'Hired_Location__c_x',
 'Date_Turned_Blue__c',
 'Foreign_Service__c',
 'If_served_overseas_locations_of_service__c',
 'Foreign_Service_Summary__c',
 'Workshop_Staff_Members__c',
 'Reason_Vet_Turned_Grey__c',
 'Volunteer_Services__c',
 'Other_Volunteer_Services__c',
 'Workshop_Type__c',
 'Military_Spouse_Caregiver__c',
 'Volunteer_is_a_Veteran__c',
 'Military_Branch__c',
 'Multiple_HHUSA_Hire__c',
 'Historical_hire_summary__c',
 'Employment_Type__c_x',
 'Desired_Geographic_Region_of_Employment__c',
 'Desired_State_s_of_Employment__c',
 'Proof_of_Service_Type__c',
 'Published_on_details__c',
 'Date_of_Service_EntryNew__c',
 'Date_of_SeparationNew__c',
 'Referred_by__c',
 'Reserves_National_Guard__c',
 'Submitted_for_Hire__c',
 'Office_Manager_Approved__c',
 'Regional_Manager_Approved__c',
 'Hire_Heroes_USA_Confirmed_Hire__c',
 'Date_Submitted_for_Hire__c',
 'Approval_Notes__c',
 'Workshop_Sponsor__c',
 'VP_Dash_Date__c',
 'Hired_ZIP_Code__c',
 'Do_Not_Text__c',
 'Volunteer_Jobs_Availability__c',
 'Date_of_Volunteer_Orientation__c',
 'Enrolled_in_School__c',
 'Expected_Graduation_Date__c',
 'Funding_Source__c',
 'Agrees_to_be_Recognized_on_Website__c',
 'Preferred_Contact_Time_Start__c',
 'Preferred_Contact_Time_End__c',
 'Desired_Industry_for_Employment__c',
 'Finalized_HHUSA_revised_resume_on_file__c',
 'Value_Proposition__c',
 'Documents_Received__c',
 'Date_Documents_Received__c',
 'Previous_Confirmed_Hire_Date__c',
 'Selected_by_M_D_for_Success_Story__c',
 'Date_published__c',
 'Type_of_Success_Story__c',
 'Selected_by__c',
 'Success_Story_published_on__c',
 'Success_Story_Notes__c',
 'Bilingual__c',
 'Willing_to_Relocate__c',
 'Min_Salary_Expectations__c',
 'Used_Volunteer_Services__c',
 'Desired_Earnings_Type__c',
 'Used_Federal_Services__c',
 'Program_Location__c',
 'O2O_Cohort_Id__c',
 'Orientation_Date__c',
 'O2O_Career_Track__c',
 'O2O_Training_Track__c',
 'Online_Training_Track__c',
 'Hired_By_Partnered_Employer__c',
 'Scheduled_Interview_Date__c',
 'Matched_Partner_Employer__c',
 'For_Workflow_Update__c',
 'Orientation_Completed_By__c',
 'Send_Green_Survey__c',
 'Professional_Certification__c',
 'TS_Referral_Requested_By__c',
 'RealZip__RealZip__c',
 'Discharge_Type__c',
 'Discharge_Disposition__c',
 'Date_Turned_Black__c',
 'Litmos__Litmos_Login_Access__c',
 'Litmos__Total_Sum_Percentages__c',
 'Willing_to_Relocate_to_High_Risk_Area__c',
 'Id_y',
 'IsDeleted',
 'Name',
 'CreatedDate_y',
 'CreatedById_y',
 'LastModifiedDate_y',
 'LastModifiedById_y',
 'SystemModstamp_y',
 'LastActivityDate_y',
 'Confirmed_Hired_Date__c_y',
 'Start_Date__c_y',
 'Hiring_Account__c_y',
 'Client_Name__c',
 'Hiring_Company_Name__c',
 'Position_Hired_For__c_y',
 'Job_Function_Hired_In__c_y',
 'Industry_Hired_In__c',
 'Hired_Location__c_y',
 'Hired_Zip_Code__c',
 'Salary_Range__c_y',
 'Employment_Type__c_y',
 'Federal_Hire__c_y',
 'Internship__c_y',
 'Hired_With_EO_Assistance__c',
 'X7_Day_Review__c',
 'Months_Unemployed__c_y',
 'Revised_Resume_Used_to_Apply_for_Job__c_y',
 'Hired_but_still_active_and_looking__c_y',
 'Date_Submitted_For_Hire__c',
 'Hire_Confirmed_By__c',
 'Area_Manager_Approved__c',
 'PIM_Approved__c',
 'Ops_Review_Date__c',
 'Multiple_Hire__c']

In [ ]:
Initial Assessment Complete--done
Initial HHUSA Resume Complete--done
Resume Tailoring Tips--done
Value Proposition--done
Interview Skills--done
LinkedIn Revision (Created LinkedIn)--done
On Job Board--done
Virtual Workshop Participant--done
VCF Participant--done
Virtual Workshop Participant--done+
Used Volunteer Services--done
Used Federal Services--done
Call Attempts
Email Attempts
Revised Resume used to apply for a job--done

In [4]:
confirmed_hire=data.loc[data["Hire_Heroes_USA_Confirmed_Hire__c"]==1]

In [5]:
confirmed_hire.shape

(30350, 391)

In [9]:
confirmed_hire.isnull().sum()

Id                                                0
AccountId                                         0
RecordTypeId                                      0
MailingState                                    257
MailingPostalCode                              3229
MailingCountry                                  431
LeadSource                                    27782
OwnerId                                           0
HasOptedOutOfEmail                                0
HasOptedOutOfFax                                  0
DoNotCall                                         0
CanAllowPortalSelfReg                             0
CreatedDate                                       0
CreatedById                                       0
LastModifiedDate                                  0
LastModifiedById                                  0
SystemModstamp                                    0
LastActivityDate                                  7
Previous_HH_Client__c                             0
Volunteer_Interests__c                        30350
Tableau_Fix__c                                    0
Multiple_AVR__c                                   0
Vendor_Contact__c                             19004
Do_Not_Mail_old__c                                0
Gender__c                                      2704
Race__c                                       25304
Number_of_dependents__c                       15718
Employment_Barriers__c                        30123
Interview_Skills__c                               0
Veteran_agreed_to_terms_at_Registration__c        0
                                              ...
Selected_by__c                                30174
Success_Story_published_on__c                 30220
Success_Story_Notes__c                        30095
Bilingual__c                                      0
Willing_to_Relocate__c                            0
Min_Salary_Expectations__c                     6684
Used_Volunteer_Services__c                        0
Desired_Earnings_Type__c                       6622
Used_Federal_Services__c                          0
Program_Location__c                           29956
O2O_Cohort_Id__c                              29963
Orientation_Date__c                           29970
O2O_Career_Track__c                           29993
O2O_Training_Track__c                         30243
Online_Training_Track__c                      28265
Hired_By_Partnered_Employer__c                    0
Scheduled_Interview_Date__c                   30349
Matched_Partner_Employer__c                   30337
For_Workflow_Update__c                            0
Orientation_Completed_By__c                   30290
Send_Green_Survey__c                              0
Professional_Certification__c                 28780
TS_Referral_Requested_By__c                   30222
RealZip__RealZip__c                            3614
Discharge_Type__c                             28829
Discharge_Disposition__c                      29935
Date_Turned_Black__c                          30212
Litmos__Litmos_Login_Access__c                27422
Litmos__Total_Sum_Percentages__c              30350
Willing_to_Relocate_to_High_Risk_Area__c          0
Length: 391, dtype: int64

In [6]:
not_confirmed_hire=data.loc[data["Hire_Heroes_USA_Confirmed_Hire__c"]==0]

In [7]:
not_confirmed_hire.shape

(102095, 391)

In [21]:
action_list=["Used_Federal_Services__c","Used_Volunteer_Services__c","Assessment_Completed_By__c","Resume_Completed_By__c","Virtual_Workshop_Participant__c","On_Job_Board__c","Federal_Hire__c","Created_LinkedIn_account__c",
             "Hired_with_EO_assistance__c","Updated_Resume_Complete__c","HHUSA_Workshop_Participant__c","O2O_Initial_Assessment_Complete__c",
          "Is_the_Initial_Intake_Assessment_done__c","Revised_Resume_Used_to_Apply_for_Job__c","Permission_to_use_job_board_granted__c","Resume_Tailoring_Tips__c","Finalized_HHUSA_revised_resume_on_file__c","Hire_Heroes_USA_Confirmed_Hire__c","VCF_Participant__c","Interview_Skills__c","Value_Proposition__c"]

In [22]:
confirmed_hire=confirmed_hire[action_list]

In [23]:
confirmed_hire.shape

(30350, 21)

In [24]:
confirmed_hire.isnull().sum()

Used_Federal_Services__c                        0
Used_Volunteer_Services__c                      0
Assessment_Completed_By__c                    708
Resume_Completed_By__c                        653
Virtual_Workshop_Participant__c                 0
On_Job_Board__c                                 0
Federal_Hire__c                                 0
Created_LinkedIn_account__c                     0
Hired_with_EO_assistance__c                     0
Updated_Resume_Complete__c                      0
HHUSA_Workshop_Participant__c                   0
O2O_Initial_Assessment_Complete__c              0
Is_the_Initial_Intake_Assessment_done__c        0
Revised_Resume_Used_to_Apply_for_Job__c      4689
Permission_to_use_job_board_granted__c          0
Resume_Tailoring_Tips__c                        0
Finalized_HHUSA_revised_resume_on_file__c       0
Hire_Heroes_USA_Confirmed_Hire__c               0
VCF_Participant__c                              0
Interview_Skills__c                             0
Value_Proposition__c                            0
dtype: int64

In [26]:
confirmed_hire=confirmed_hire.dropna()

In [35]:
confirmed_hire.isnull().sum()

Used_Federal_Services__c                     0
Used_Volunteer_Services__c                   0
Assessment_Completed_By__c                   0
Resume_Completed_By__c                       0
Virtual_Workshop_Participant__c              0
On_Job_Board__c                              0
Federal_Hire__c                              0
Created_LinkedIn_account__c                  0
Hired_with_EO_assistance__c                  0
Updated_Resume_Complete__c                   0
HHUSA_Workshop_Participant__c                0
O2O_Initial_Assessment_Complete__c           0
Is_the_Initial_Intake_Assessment_done__c     0
Revised_Resume_Used_to_Apply_for_Job__c      0
Permission_to_use_job_board_granted__c       0
Resume_Tailoring_Tips__c                     0
Finalized_HHUSA_revised_resume_on_file__c    0
Hire_Heroes_USA_Confirmed_Hire__c            0
VCF_Participant__c                           0
Interview_Skills__c                          0
Value_Proposition__c                         0
dtype: int64

In [29]:
not_confirmed_hire=not_confirmed_hire[action_list]

In [30]:
not_confirmed_hire.isnull().sum()

Used_Federal_Services__c                      23107
Used_Volunteer_Services__c                    23107
Assessment_Completed_By__c                    72390
Resume_Completed_By__c                        78517
Virtual_Workshop_Participant__c                 954
On_Job_Board__c                                 834
Federal_Hire__c                                 813
Created_LinkedIn_account__c                       0
Hired_with_EO_assistance__c                     818
Updated_Resume_Complete__c                      854
HHUSA_Workshop_Participant__c                     0
O2O_Initial_Assessment_Complete__c              914
Is_the_Initial_Intake_Assessment_done__c          0
Revised_Resume_Used_to_Apply_for_Job__c      101616
Permission_to_use_job_board_granted__c            0
Resume_Tailoring_Tips__c                       4008
Finalized_HHUSA_revised_resume_on_file__c         0
Hire_Heroes_USA_Confirmed_Hire__c                 0
VCF_Participant__c                              946
Interview_Skills__c                               0
Value_Proposition__c                          23075
dtype: int64

In [31]:
not_confirmed_hire.shape

(102095, 21)

In [32]:
not_confirmed_hire=not_confirmed_hire.dropna()

In [33]:
not_confirmed_hire.shape

(417, 21)

# Confirmed Hire

In [37]:
pd.crosstab(confirmed_hire.Used_Volunteer_Services__c, columns=['Used_Volunteer_Services__c'])

col_0                       Used_Volunteer_Services__c
Used_Volunteer_Services__c
0.0                                              22005
1.0                                               2813

# Not confirmed Hire

In [38]:
pd.crosstab(not_confirmed_hire.Used_Volunteer_Services__c, columns=['Used_Volunteer_Services__c'])

col_0                       Used_Volunteer_Services__c
Used_Volunteer_Services__c
0.0                                                396
1.0                                                 21

# Confirmed Hire

In [39]:
pd.crosstab(confirmed_hire.VCF_Participant__c, columns=['VCF_Participant__c'])

col_0               VCF_Participant__c
VCF_Participant__c
0.0                              24409
1.0                                409

# Not Confirmed Hire

In [40]:
pd.crosstab(not_confirmed_hire.VCF_Participant__c, columns=['VCF_Participant__c'])

col_0               VCF_Participant__c
VCF_Participant__c
0.0                                414
1.0                                  3

# Confirmed Hire

In [41]:
pd.crosstab(confirmed_hire.Virtual_Workshop_Participant__c, columns=['Virtual_Workshop_Participant__c'])

col_0                            Virtual_Workshop_Participant__c
Virtual_Workshop_Participant__c
0.0                                                        24772
1.0                                                           46

# Not Confirmed Hire

In [42]:
pd.crosstab(not_confirmed_hire.Virtual_Workshop_Participant__c, columns=['Virtual_Workshop_Participant__c'])

col_0                            Virtual_Workshop_Participant__c
Virtual_Workshop_Participant__c
0.0                                                          417

# Confirmed Hire

In [43]:
pd.crosstab(confirmed_hire.On_Job_Board__c, columns=['On_Job_Board__c'])

col_0            On_Job_Board__c
On_Job_Board__c
0.0                        22018
1.0                         2800

# Not Confirmed Hire

In [44]:
pd.crosstab(not_confirmed_hire.On_Job_Board__c, columns=['On_Job_Board__c'])

col_0            On_Job_Board__c
On_Job_Board__c
0.0                          393
1.0                           24

#  Confirmed Hire

In [46]:
pd.crosstab(confirmed_hire.Used_Federal_Services__c, columns=['Used_Federal_Services__c'])

col_0                     Used_Federal_Services__c
Used_Federal_Services__c
0.0                                          23717
1.0                                           1101

# Not  Confirmed Hire

In [48]:
pd.crosstab(not_confirmed_hire.Used_Federal_Services__c, columns=['Used_Federal_Services__c'])

col_0                     Used_Federal_Services__c
Used_Federal_Services__c
0.0                                            412
1.0                                              5

#  Confirmed Hire

In [49]:
pd.crosstab(confirmed_hire.Interview_Skills__c, columns=['Interview_Skills__c'])

col_0                Interview_Skills__c
Interview_Skills__c
0                                   6133
1                                  18685

#  Not Confirmed Hire

In [50]:
pd.crosstab(not_confirmed_hire.Interview_Skills__c, columns=['Interview_Skills__c'])

col_0                Interview_Skills__c
Interview_Skills__c
0                                    164
1                                    253

# Confirmed Hire

In [51]:
pd.crosstab(confirmed_hire.Created_LinkedIn_account__c, columns=['Created_LinkedIn_account__c'])

col_0                        Created_LinkedIn_account__c
Created_LinkedIn_account__c
0                                                   9653
1                                                  15165

#  Not Confirmed Hire

In [52]:
pd.crosstab(not_confirmed_hire.Created_LinkedIn_account__c, columns=['Created_LinkedIn_account__c'])

col_0                        Created_LinkedIn_account__c
Created_LinkedIn_account__c
0                                                    195
1                                                    222

# Confirmed Hire

In [53]:
pd.crosstab(confirmed_hire.Value_Proposition__c, columns=['Value_Proposition__c'])

col_0                 Value_Proposition__c
Value_Proposition__c
0.0                                   5863
1.0                                  18955

# Not Confirmed Hire

In [54]:
pd.crosstab(not_confirmed_hire.Value_Proposition__c, columns=['Value_Proposition__c'])

col_0                 Value_Proposition__c
Value_Proposition__c
0.0                                    159
1.0                                    258

# Confirmed Hire

In [55]:
pd.crosstab(confirmed_hire.Hired_with_EO_assistance__c, columns=['Hired_with_EO_assistance__c'])

col_0                        Hired_with_EO_assistance__c
Hired_with_EO_assistance__c
0.0                                                24781
1.0                                                   37

# Not Confirmed Hire

In [56]:
pd.crosstab(not_confirmed_hire.Hired_with_EO_assistance__c, columns=['Hired_with_EO_assistance__c'])

col_0                        Hired_with_EO_assistance__c
Hired_with_EO_assistance__c
0.0                                                  417

# Confirmed Hire

In [57]:
pd.crosstab(confirmed_hire.Updated_Resume_Complete__c, columns=['Updated_Resume_Complete__c'])

col_0                       Updated_Resume_Complete__c
Updated_Resume_Complete__c
0.0                                              24192
1.0                                                626

# Not Confirmed Hire

In [58]:
pd.crosstab(not_confirmed_hire.Updated_Resume_Complete__c, columns=['Updated_Resume_Complete__c'])

col_0                       Updated_Resume_Complete__c
Updated_Resume_Complete__c
0.0                                                411
1.0                                                  6

# Confirmed Hire

In [59]:
pd.crosstab(confirmed_hire.HHUSA_Workshop_Participant__c, columns=['HHUSA_Workshop_Participant__c'])

col_0                          HHUSA_Workshop_Participant__c
HHUSA_Workshop_Participant__c
0                                                      22382
1                                                       2436

# Not Confirmed Hire

In [60]:
pd.crosstab(not_confirmed_hire.HHUSA_Workshop_Participant__c, columns=['HHUSA_Workshop_Participant__c'])

col_0                          HHUSA_Workshop_Participant__c
HHUSA_Workshop_Participant__c
0                                                        372
1                                                         45

# Confirmed Hire

In [61]:
pd.crosstab(confirmed_hire.O2O_Initial_Assessment_Complete__c, columns=['O2O_Initial_Assessment_Complete__c'])

col_0                               O2O_Initial_Assessment_Complete__c
O2O_Initial_Assessment_Complete__c
0.0                                                              24503
1.0                                                                315

# Not Confirmed Hire

In [62]:
pd.crosstab(not_confirmed_hire.O2O_Initial_Assessment_Complete__c, columns=['O2O_Initial_Assessment_Complete__c'])

col_0                               O2O_Initial_Assessment_Complete__c
O2O_Initial_Assessment_Complete__c
0.0                                                                414
1.0                                                                  3

# Confirmed Hire

In [63]:
pd.crosstab(confirmed_hire.Is_the_Initial_Intake_Assessment_done__c, columns=['Is_the_Initial_Intake_Assessment_done__c'])

col_0                                     Is_the_Initial_Intake_Assessment_done__c
Is_the_Initial_Intake_Assessment_done__c
0                                                                                6
1                                                                            24812

# Not Confirmed Hire

In [64]:
pd.crosstab(not_confirmed_hire.Is_the_Initial_Intake_Assessment_done__c, columns=['Is_the_Initial_Intake_Assessment_done__c'])

col_0                                     Is_the_Initial_Intake_Assessment_done__c
Is_the_Initial_Intake_Assessment_done__c
0                                                                                1
1                                                                              416

# Confirmed Hire

In [65]:
pd.crosstab(confirmed_hire.Permission_to_use_job_board_granted__c, columns=['Permission_to_use_job_board_granted__c'])

col_0                                   Permission_to_use_job_board_granted__c
Permission_to_use_job_board_granted__c
0                                                                        21527
1                                                                         3291

# Not Confirmed Hire

In [66]:
pd.crosstab(not_confirmed_hire.Permission_to_use_job_board_granted__c, columns=['Permission_to_use_job_board_granted__c'])

col_0                                   Permission_to_use_job_board_granted__c
Permission_to_use_job_board_granted__c
0                                                                          373
1                                                                           44

# Confirmed Hire

In [67]:
pd.crosstab(confirmed_hire.Finalized_HHUSA_revised_resume_on_file__c, columns=['Finalized_HHUSA_revised_resume_on_file__c'])

col_0                                      Finalized_HHUSA_revised_resume_on_file__c
Finalized_HHUSA_revised_resume_on_file__c
0                                                                                 20
1                                                                              24798

# Not Confirmed Hire

In [68]:
pd.crosstab(not_confirmed_hire.Finalized_HHUSA_revised_resume_on_file__c, columns=['Finalized_HHUSA_revised_resume_on_file__c'])

col_0                                      Finalized_HHUSA_revised_resume_on_file__c
Finalized_HHUSA_revised_resume_on_file__c
0                                                                                  4
1                                                                                413

# Confirmed Hire

In [70]:
pd.crosstab(confirmed_hire.Revised_Resume_Used_to_Apply_for_Job__c, columns=['Revised_Resume_Used_to_Apply_for_Job__c'])

col_0                                    Revised_Resume_Used_to_Apply_for_Job__c
Revised_Resume_Used_to_Apply_for_Job__c
No                                                                          1717
Yes                                                                        23101

# Not Confirmed Hire

In [72]:
pd.crosstab(not_confirmed_hire.Revised_Resume_Used_to_Apply_for_Job__c, columns=['Revised_Resume_Used_to_Apply_for_Job__c'])

col_0                                    Revised_Resume_Used_to_Apply_for_Job__c
Revised_Resume_Used_to_Apply_for_Job__c
No                                                                           202
Yes                                                                          215

# Confirmed Hire

In [75]:
pd.crosstab(confirmed_hire.Resume_Tailoring_Tips__c, columns=['Resume_Tailoring_Tips__c'])

col_0                     Resume_Tailoring_Tips__c
Resume_Tailoring_Tips__c
0.0                                          19737
1.0                                           5081

# Not Confirmed Hire

In [76]:
pd.crosstab(not_confirmed_hire.Resume_Tailoring_Tips__c, columns=['Resume_Tailoring_Tips__c'])

col_0                     Resume_Tailoring_Tips__c
Resume_Tailoring_Tips__c
0.0                                            383
1.0                                             34

# to check if the person conducting assesment influences the hiring chances

In [77]:
Result_without_Filtering=(confirmed_hire.reset_index()
          .groupby(['Resume_Completed_By__c'])['Resume_Completed_By__c']
          .count().rename(columns={'count':'Count'})
       )

In [78]:
Result_without_Filtering=Result_without_Filtering.to_frame().reset_index()

In [79]:
names=['Resume_Completed_By__c', 'Total_Count']

In [80]:
Result_without_Filtering.columns = names

In [81]:
Result_without_Filtering

    Resume_Completed_By__c  Total_Count
0       00538000003nrcXAAQ            2
1       005380000044j39AAA          326
2       00538000004SivDAAS          341
3       00538000004SivXAAS          182
4       00538000004SiwBAAS          125
5       00538000004SiwLAAS          201
6       00538000004SiwfAAC          270
7       00538000004SsftAAC          138
8       00538000004kCkJAAU          192
9       00538000004kgd8AAA          184
10      00538000004kgdmAAA          169
11      00538000004kgf9AAA          301
12      00538000004kgfTAAQ          235
13      00538000004kmwXAAQ          163
14      00538000004l7NHAAY          349
15      00538000004lAqgAAE          438
16      00538000004lAqqAAE          388
17      00538000004lJWkAAM          356
18      00538000004lJWlAAM          366
19      00538000004lJWmAAM          340
20      00538000004lJWnAAM          323
21      00538000004lKI0AAM           75
22      00538000004laKWAAY           38
23      00538000004mAs5AAE          167
24      00538000004mAsAAAU           45
25      00538000004mAsFAAU           29
26      00538000004mAsPAAU           31
27      00538000004mGdGAAU           20
28      00538000004mHsqAAE           59
29      00538000004mHtFAAU           32
..                     ...          ...
113     005500000040szYAAQ          230
114     005500000041G89AAE          271
115     005500000041It2AAE          287
116     005500000042ED9AAM          117
117     005500000042GlIAAU          436
118     005500000042I1HAAU          158
119     005500000042RauAAE          103
120     005500000042TrsAAE          496
121     005500000042TrxAAE          331
122     005500000042Vd4AAE          172
123     005500000042X0TAAU          393
124     005500000042X25AAE          354
125     005500000042c67AAA          240
126     005500000042c6CAAQ           90
127     005500000042c6HAAQ          492
128     005500000042c6MAAQ          131
129     005500000042pkjAAA          239
130     005500000042pkoAAA          370
131     005500000042plIAAQ           55
132     005500000042qPXAAY          227
133     005500000043MkIAAU          256
134     005500000043hbvAAA           38
135     005500000043hc0AAA          139
136     005500000043jE0AAI          179
137     005500000043jLpAAI           43
138     005500000044HdTAAU          224
139     005500000044JlZAAU            8
140     005500000044UKZAA2          146
141     005500000044WcVAAU          209
142     005500000044YEkAAM          238

[143 rows x 2 columns]

In [83]:
Resume_evaluation=confirmed_hire.loc[confirmed_hire["Revised_Resume_Used_to_Apply_for_Job__c"]=="Yes"]

In [84]:
result = (Resume_evaluation.reset_index()
          .groupby(['Resume_Completed_By__c'])['Resume_Completed_By__c']
          .count().rename(columns={'count':'Count'})
       )

In [85]:
names=['Resume_Completed_By__c', 'Total_Count']

In [86]:
result=result.to_frame().reset_index()

In [87]:
names=['Resume_Completed_By__c', 'Count']

In [88]:
result.columns = names

In [89]:
result.head(3)

  Resume_Completed_By__c  Count
0     00538000003nrcXAAQ      2
1     005380000044j39AAA    297
2     00538000004SivDAAS    340

In [90]:
final_dataset = pd.merge(Result_without_Filtering, result, left_on='Resume_Completed_By__c', right_on='Resume_Completed_By__c')

In [91]:
final_dataset.head(3)

  Resume_Completed_By__c  Total_Count  Count
0     00538000003nrcXAAQ            2      2
1     005380000044j39AAA          326    297
2     00538000004SivDAAS          341    340

In [92]:
final_dataset['Yes_percentage']=(final_dataset['Count']/final_dataset['Total_Count'])*100

In [93]:
final_dataset.head(3)

  Resume_Completed_By__c  Total_Count  Count  Yes_percentage
0     00538000003nrcXAAQ            2      2      100.000000
1     005380000044j39AAA          326    297       91.104294
2     00538000004SivDAAS          341    340       99.706745